FLASK_ADMIN,HYSkyline@sina.com
FLASK_ADMIN_EMAIL,HYSkyline@sina.com
FLASKY_MAIL_SUBJECT_PREFIX,[SQuan]
FLASKY_MAIL_SENDER,HYSQUAN<HYSkyline@sina.com>
SECRET_KEY,shirley
SQLALCHEMY_DATABASE_URI_dev,postgresql://postgres:625383@localhost/sinit
SQLALCHEMY_DATABASE_URI_heroku,postgres://qpixwcogxhcuao:f23eb38535dde4a85925014a8243ab41bdc677846b429b637a86c4ae4062fbf8@ec2-54-247-81-97.eu-west-1.compute.amazonaws.com:5432/daunvbffodckm9
