{% extends "bootstrap/base.html" %}

{% block title %}母版页{% endblock %}

{% block head %}
{{ super() }}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="robots" content="nofollow">
    <meta name="author" content="傲雪双犬,HYSkyline@163.com">
    <meta name="revisit-after" content="7days">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" href="{{ url_for('static', filename='img/icon/sq.png') }}" type="image/x-icon">
    <script type="text/javascript" src="{{ url_for('static', filename='lib/js/jquery-3.2.1.js') }}"></script>
{% endblock %}
{% block body %}
    {% for message in get_flashed_messages() %}
        <script type="text/javascript">
            var message = '{{ message }}';
            alert(message);
        </script>
    {% endfor %}
    {% block page_content%}
    <p>base</p>
    {% endblock %}
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}
